.sidebar {
  /* border: 1px solid black; */
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  min-width: 230px;

  padding-left: 10px;
  padding-right: 10px;

  /* text color */
  color: white;
}

.sidebar__logo {
  width: 100%;
}

.sidebar__playlistTitle {
    font-size: 12px;
    margin-left: 8px;
    padding: 5px;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}